# Add any directories, files, or patterns you don't want to be tracked by version control
*.class

# Mobile Tools
.mtj.tmp/

# Packages
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# Build Files
target
ahp-repo

# Log file
debug.log
